name: CI/CD Release

on:
  push:
    tags:
      - 'v*'         # for main releases
      - 'dev-v*'     # for dev releases

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Docker tag based on branch
        id: set-tag
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/dev-v* ]]; then
            echo "tag=dev" >> $GITHUB_OUTPUT
          else
            echo "tag=latest" >> $GITHUB_OUTPUT
          fi

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./web
          file: ./web/Dockerfile
          push: true
          tags: campinavrienden/bingoweb:${{ steps.set-tag.outputs.tag }}

      - name: Upload docker-compose and env
        uses: softprops/action-gh-release@v1
        with:
          files: |
            docker-compose.yaml
            .env-example
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          



      - name: Prepare release files
        run: |
          mkdir release-assets
          cp docker-compose.yaml release-assets/docker-compose.yaml
          cp .env-example release-assets/.env-example

          if [[ "${{ env.TAG_NAME }}" == dev-v* ]]; then
            sed -i 's/:latest/:dev-latest/g' release-assets/docker-compose.yaml
          fi

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ env.TAG_NAME }}
          tag_name: ${{ env.TAG_NAME }}
          files: |
            release-assets/docker-compose.yaml
            release-assets/.env-example
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

